@model TravelAgencyApplication.Domain.ViewModel.TAUserIndexViewModel
@{
    ViewData["Title"] = "User Index";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Phone Number</th>
            <th>Employee Type</th>
            @if (Model.CurrentUserRole == TravelAgencyApplication.Domain.Enum.UserRole.ADMIN)
            {
                <th>Actions</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>@item.FirstName @item.LastName</td>
                <td>@item.PhoneNumber</td>
                <td>@item.UserRole</td>
                @if (Model.CurrentUserRole == TravelAgencyApplication.Domain.Enum.UserRole.ADMIN)
                {
                    <td>
                        <a asp-controller="User" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info">Edit</a>
                        <a asp-controller="User" asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">Details</a>
                        <a asp-controller="User" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Create User</a>