@model TravelAgencyApplication.Domain.ViewModel.TAUserIndexViewModel
@{
    ViewData["Title"] = "User Index";
}

<h1>@ViewData["Title"]</h1>
<form asp-controller="User" asp-action="ImportUsers" method="post" enctype="multipart/form-data" id="importForm">
    <div class="form-group">
        <p class="h6">Import Users </p>
        <input type="file" name="file" class="form-control" required />
        <span class="text-danger" id="fileValidationMessage"></span>
    </div>
    <button type="submit" class="btn btn-success my-2">Import Excel</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Phone Number</th>
            <th>Employee Type</th>
             <th>Actions</th>      
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>@item.FirstName @item.LastName</td>
                <td>@item.PhoneNumber</td>
                <td>@item.UserRole</td>
              
                <td>
                    <a asp-controller="User" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info">Edit</a>
                    <a asp-controller="User" asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">Details</a>
                    <a asp-controller="User" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
               
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary">Register</a>

</div>




 

