@model TravelAgencyApplication.Domain.Model.Itinerary

<h1>Itinerary Details</h1>

<div>
    <h4>@Model.Title</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Details</dt>
        <dd class="col-sm-10">@Model.Details</dd>

        <dt class="col-sm-2">Price</dt>
        <dd class="col-sm-10">@Model.Price</dd>

        <dt class="col-sm-2">Date</dt>
        <dd class="col-sm-10">@Model.Date.ToShortDateString()</dd>

        <dt class="col-sm-2">Destination</dt>
        <dd class="col-sm-10">@Model.Destination?.ToString()</dd>
    </dl>
</div>

<a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-warning">Edit</a>
<a href="@Url.Action("Index")" class="btn btn-secondary">Back to List</a>
