@model IEnumerable<TravelAgencyApplication.Domain.Model.Country>

@{
    ViewData["Title"] = "Countries";
}

<h2 class="mt-4 mb-3">@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var country in Model)
        {
            <tr>
                <td>@country.Name</td>
                <td>
                    <a href="@Url.Action("Edit", "Country", new { id = country.Id })" class="btn btn-warning">Edit</a>
                    <a href="@Url.Action("Delete", "Country", new { id = country.Id })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create", "Country")" class="btn btn-primary">Create New Country</a>
<a asp-controller="Admin" asp-action="Index" class="btn btn-secondary">Back to Admin Panel</a>
