@model IEnumerable<TravelAgencyApplication.Domain.Model.TravelPackage>

@{
    ViewData["Title"] = "Travel Packages";

    string TruncateText(string text, int maxWords)
    {
        var words = text.Split(' ');
        if (words.Length <= maxWords)
        {
            return text;
        }

        return string.Join(" ", words.Take(maxWords)) + "...";
    }
}

<h1 class="mt-4 mb-4">@ViewData["Title"]</h1>

<div class="container" style="min-height: 73vh;">
    <div class="row">
        @foreach (var package in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    @if (package.ImageUrl != null)
                    {
                        <img src="@package.ImageUrl" class="card-img-top" alt="Travel Package Image">
                    }
                    else
                    {
                        <img src="https://images.unsplash.com/photo-1530789253388-582c481c54b0?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="Travel Package Image">
                    }
                    <div class="card-body">
                        <h5 class="card-title">@package.Title</h5>
                        <p class="card-text">@TruncateText(package.Details, 10)</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="text-muted">@package.Destination?.ToString()</span>
                            <span class="font-weight-bold text-muted">Starting from <b>$@package.BasePrice</b></span>
                        </div>
                        <div class="text-center mt-3">
                            <a asp-controller="TravelPackage" asp-action="Details" asp-route-id="@package.Id" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
