@model IEnumerable<TravelAgencyApplication.Domain.Model.Itinerary>

<div id="ItinerariesSection" class="admin-section">
    <h2>Itineraries</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Details</th>
                <th>Price</th>
                <th>Date</th>
                <th>Destination</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {   
            @foreach (var itinerary in Model)
            {
                <tr>
                    <td>@itinerary.Title</td>
                    <td>@itinerary.Details</td>
                    <td>@itinerary.Price</td>
                    <td>@itinerary.Date.ToShortDateString()</td>
                    <td>@itinerary.Destination?.ToString()</td>
                    <td>
                        <a href="@Url.Action("Details","Itinerary", new { id = itinerary.Id })" class="btn btn-info">Details</a>
                        <a href="@Url.Action("Edit","Itinerary", new { id = itinerary.Id })" class="btn btn-warning">Edit</a>
                            <a href="@Url.Action("Delete","Itinerary", new { id = itinerary.Id })" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
            }
        </tbody>
    </table>

    <a href="@Url.Action("Create","Itinerary")" class="btn btn-primary">Create New Itinerary</a>

</div>
